# Build Output
build*/
bin*/
out*/

# CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
compile_commands.json
*.cmake

# Compiled Objects & Libraries
*.o
*.obj
*.lib
*.a
*.so
*.dll
*.dylib
*.exp
*.pdb

# Executables
*.exe
Zenith-Editor
Zenith-Editor.exe

# IDE Files
.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
*.user

# Logs
*.log
logs/

# Temporary Files
*.tmp
*.swp
*~

# OS Files
.DS_Store
Thumbs.db

# LFS Folders
lfs/
hooks/
