[submodule "ThirdParty/Core/SDL"]
	path = ThirdParty/Core/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "ThirdParty/Rendering/tracy"]
	path = ThirdParty/Rendering/tracy
	url = https://github.com/wolfpld/tracy
[submodule "ThirdParty/Rendering/VulkanMemoryAllocator"]
	path = ThirdParty/Rendering/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/Scripting/lua"]
	path = ThirdParty/Scripting/lua
	url = https://github.com/lua/lua.git
[submodule "ThirdParty/Scripting/sol2"]
	path = ThirdParty/Scripting/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ThirdParty/Utils/backward-cpp"]
	path = ThirdParty/Utils/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "ThirdParty/UI/imgui"]
	path = ThirdParty/UI/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
